@inject NavigationManager NavigationManager
@inject IStringLocalizer<SharedResource> L

<select class="custom-select" @onchange="OnSelected">
    <option selected>@L["ChangeLanguage"]</option>
    <option value="zh-Hans">中文简体</option>
    <option value="en-US">English</option>
    @*<option value="fr-FR">Français</option>*@
</select>

@code {
    #nullable disable

    private void OnSelected(ChangeEventArgs e)
    {
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}